{% extends 'base.html.twig' %}

{% block title %}Select Location{% endblock %}

{% block body %}
	{% if locations|length > 0 %}
		<form method="post" action="{{ path('location_qrcode') }}">
			<select name="location" title="location">
				{% for location in locations %}
					<option value="{{ location.location.id }}">{{ location.name }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Valider">
		</form>
	{% else %}
		<p>No location has been found. :/</p>
	{% endif %}
{% endblock %}
